html,
body {
  height: 100vh;
  font-family: sans-serif;
  font-size: 1em;
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

h2 {
  text-align: center;
}

.buttons {
  margin: auto;
  text-align: center;
}

.rounded-lg {
  border-radius: 1rem;
}

.slider-container {
  position: relative;
  overflow: hidden;
}

.toolbar-container {
  position: absolute;
  left: 50%;
  top: 95%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.toolicons {
  color: rgba(255, 255, 255, 0.65);
}

.toolicons:hover {
  color: rgba(255, 255, 255, 0.99);
  text-shadow: 1px 1px 25px white;
}

.pagination-container {
  overflow: hidden;
}

.pagination-container>ul {
  width: inherit;
}

.pagination>li a {
  min-width: 2.5em;
  text-align: center;
  text-shadow: 1px 1px 1px lightgrey;
  background-color: rgba(160, 203, 248, 0.6);
  border-color: rgba(160, 203, 248, 0.09);
}

.pagination {
  background-color: rgba(255, 255, 255, 0.2);
}

.activated a {
  background-color: rgba(160, 203, 248, 0.6) !important;
  text-shadow: none;
  color: white !important;
  border-color: rgba(160, 203, 248, 0.1) !important;
  z-index: 10;
}

.pagination>li a:hover {
  background-color: rgba(160, 203, 248, 0.6) !important;
  text-shadow: none;
  color: white !important;
  border-color: rgba(160, 203, 248, 0.1) !important;
  z-index: 10;
}



.file-upload input[type='file'] {
  display: none;
}
